Assingment 2.1: WAP to add three numbers and print the result.

In [2]:
a=10
b=20
c=30
d=a+b+c
print(a, " + ", b, " + ", c," --> ", d)

10  +  20  +  30  -->  60

Assingment 2.2: WAP to concatinate three strings and print the result.

In [6]:
str1 = "Sky"
str2 = "is"
str3 = "Blue"
result = str1 + str2 + str3
print(str1, " + ", str2, " + ", str3," --> ", result)

Sky  +  is  +  Blue  -->  SkyisBlue