Assingment 4.1: WAP to print the table of 7, 9.

In [1]:
for i in range(1,11):
	print (7," * ", i , " = ", i * 7)

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70

In [2]:
for i in range(1,11):
	print (9," * ", i , " = ", i * 9)

9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

Assingment 4.2: WAP to print the table of n and n is given by user.

In [3]:
n=int(input("Enter any number: "))
for i in range(1,11):
	print (n," * ", i , " = ", i * n)

Enter any number: 5
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

Assingment 4.3: WAP to add all the numbers from 1 to n and n is given by user.

In [7]:
sum=0
n=int(input("Enter any number: "))
for i in range(1,n+1):
	sum=sum+i
print ("Sum is --> ",sum)

Enter any number: 5
Sum is -->  15